* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colores */
  --verde-esmeralda: #2ECC71;
  --azul-oceano: #3498DB;
  --tono-arena: #F4D03F;
  --blanco: #FFFFFF;

  /* Tipografía */
  --fuente-titulos: 'Poppins', sans-serif;
  --fuente-textos: 'Roboto', sans-serif;
}

/* Seccion Inicio */

.section-content {
  text-align: center;
  padding: 50px 20px;
}

/* Estilos del nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
}

nav .logo img {
  width: 350px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease-in-out;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--verde-esmeralda);
}

/* Hamburger menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}


/* END Estilos del nav */

.section-content h1 {
  font-family: var(--fuente-titulos);
  font-weight: lighter;
  color: var(--blanco);
  font-size: 2.5rem;
  line-height: 1;
}

.section-content h1>span {
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.section-content hr {
  color: var(--blanco);
  width: 15%;
  margin: auto;
  margin-bottom: 30px;
}

.section-content p {
  color: var(--blanco);
  margin-bottom: 60px;
  font-size: 1.25rem;
}

.cta {
  background: linear-gradient(90deg, #126234 0%, #123c58 100%);
  border: 1px solid var(--azul-oceano);
  border-radius: 15px;
  width: 302px;
  height: 55px;
  font-family: var(--fuente-titulos);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px 20px;
  color: var(--blanco);
  text-decoration: none;
  transition: all 0.3s ease, transform 0.2s ease;
}

.cta:hover {
  background: linear-gradient(90deg, #123c58 0%, #126234 100%);
  border: 1px solid var(--tono-arena);
  transform: scale(1.05);
}

/* END Seccion Inicio */

/* Seccion Productos */
.product {
  display: flex;
  padding: 50px 20px;
  align-items: center;
}

.product .product-img{
  display: flex;
  width: 50%;
}

.product .product-info{
  width: 50%;
}
.product h2 {
  font-size: 6.25rem;
  font-family: var(--fuente-titulos);
  font-weight: bolder;
  text-transform: uppercase;
  color: var(--blanco);
  line-height: 0.9;
}

.product h2>span {
  font-size: 4.3rem;
  color: transparent;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--azul-oceano);
}

.product h2 > .line-verde {
  font-size: 4.3rem;
  color: transparent;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--verde-esmeralda);
}

.product p {
  width: 80%;
  color: var(--blanco);
}

.product-img img {
  width: 100%;
  max-width: 900px;
  height: auto;
  margin: 0 auto;
}

.product-info {
  flex: 1;
  padding: 0 20px;
}

.icono-producto {
  width: 8%;
}

/* END Seccion Productos */

body {
  font-family: var(--fuente-textos);
  background: linear-gradient(191deg, #000000 0%, #061d2c 47.8%, #072614 100%);
  color: #333;
}

header {
  background-color: transparent;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.about {
  display: flex;
  padding: 50px 20px;
  align-items: center;
}

.about-info {
  flex: 1;
  padding: 0 20px;
}

.achievements {
  padding: 20px;
  background-color: var(--tono-arena);
  margin: 50px 20px;
}

.testimonials {
  text-align: center;
  padding: 50px 20px;
}

blockquote {
  margin: 20px 0;
  font-style: italic;
}

blockquote cite {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}


@media (max-width: 1367px) {
.product-img img {
  max-width: 800px;
}
.product h2 {
  font-size: 4.8rem;
}
}

@media (max-width: 1024px) {
  .cta {
    font-size: 1.2rem;
    padding: 12px 24px;
  }

  .achievements {
    margin: 50px 100px;
  }

  .product-img img {
    max-width: 400px;
  }

  .product h2 {
    font-size: 3.25rem;
  }

  .product h2>span {
    font-size: 2.3rem;
  }

  .product h2 > .line-verde {
    font-size: 2.3rem;
  }

  .product p {
    width: 100%;
    color: var(--blanco);
  }
}

@media (max-width: 768px) {

  .product,
  .about {
    flex-direction: row;
    text-align: left;
  }

  .product img,
  .about img {
    max-width: 400px;
  }

  .product h2 {
    font-size: 2.25rem;
  }

  .product h2>span {
    font-size: 1.5rem;
  }
}

@media (max-width: 426px) {
  .section-content h1 {
    font-size: 1.5rem;
  }

  .section-content h1>span {
    font-size: 3rem;
  }

  .section-content hr {
    width: 50%;
  }

  nav .logo img {
    width: 250px;
  }

  .section-content p {
    color: var(--blanco);
    margin-bottom: 60px;
    font-size: 1rem;
  }

  .nav-links {
    position: absolute;
    top: 80px;
    right: 0;
    height: 50vh;
    width: 100%;
    background-color: var(--azul-oceano);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
  }

  .nav-links.active {
    transform: translateX(0);
  }

  .hamburger {
    display: flex;
  }

  .product,
  .about {
    flex-direction: column;
    text-align: left;
  }

  .product-info {
    padding: 0 0px;
  }
  .cta {
    width: 270px;
    font-size: 1rem;
  padding: 12px 5px;
}
}

@media (max-width: 320px) {
  nav .logo img {
    width: 220px;
  }
}