* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colores */
  --verde-esmeralda: #2ECC71;
  --azul-oceano: #3498DB;
  --tono-arena: #F4D03F;
  --blanco: #FFFFFF;

  /* Tipografía */
  --fuente-titulos: 'Poppins', sans-serif;
  --fuente-textos: 'Roboto', sans-serif;
}

/* Seccion Inicio */

.section-content {
  margin-top: 20px !important;
  text-align: center;
  padding: 50px 20px;
}

/* Estilos del nav */
nav{
  position: fixed;
  width: 100%;
  background-color: #000;
  z-index: 2;
  top: 0;
}
nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000;
}

nav .logo img {
  width: 350px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease-in-out;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--verde-esmeralda);
}

/* Hamburger menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}


/* END Estilos del nav */

.section-content h1 {
  font-family: var(--fuente-titulos);
  font-weight: lighter;
  color: var(--blanco);
  font-size: 2.5rem;
  line-height: 1;
  padding-top: 60px;
}

.section-content h1>span {
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.section-content hr {
  color: var(--blanco);
  width: 15%;
  margin: auto;
  margin-bottom: 30px;
}

.section-content p {
  color: var(--blanco);
  margin-bottom: 40px;
  font-size: 1.25rem;
}

.cta {
  background: linear-gradient(90deg, #126234 0%, #123c58 100%);
  border: 1px solid var(--azul-oceano);
  border-radius: 15px;
  width: 302px;
  height: 55px;
  font-family: var(--fuente-titulos);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px 20px;
  color: var(--blanco);
  text-decoration: none;
  transition: all 0.3s ease, transform 0.2s ease;
}

.cta:hover {
  background: linear-gradient(90deg, #123c58 0%, #126234 100%);
  border: 1px solid var(--tono-arena);
  transform: scale(1.05);
}

.banner-aliados{
  max-width: 100%;
}

/* END Seccion Inicio */


/* Video Zapatos */
canvas{
  width: 854px;
  height: 480px;
}
/* END Video Zapatos */

/* Seccion Productos */
.product {
  display: flex;
  padding: 50px 80px;
  align-items: center;
}

.product.reverse {
  display: flex;
  flex-direction: row-reverse;
  padding: 50px 80px;
  align-items: center;
}

.product .product-img {
  display: flex;
  width: 50%;
}

.product .product-info {
  width: 50%;
}

.product h2 {
  font-size: 6.25rem;
  font-family: var(--fuente-titulos);
  font-weight: bolder;
  text-transform: uppercase;
  color: var(--blanco);
  line-height: 0.9;
}

.product h2>span {
  font-size: 4.3rem;
  color: transparent;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--azul-oceano);
}

.product h2>.line-verde {
  font-size: 4.3rem;
  color: transparent;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--verde-esmeralda);
}

.product p {
  width: 80%;
  color: var(--blanco);
}

.product-img img {
  width: 100%;
  max-width: 750px;
  height: auto;
  margin: 0 auto;
}

.product-info {
  flex: 1;
  padding: 0 20px;
}

.icono-producto {
  width: 5%;
}

/* END Seccion Productos */

/* Seccion Nosotros */
.about {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 20px;
  align-items: center;
}

.about-info {
  width: 40%;
  padding: 0 20px;
}

.about-info h2 {
  font-family: var(--fuente-titulos);
  color: var(--blanco);
  font-size: 3.125rem;
}

.about-info hr {
  color: var(--blanco);
  width: 30%;
  margin-bottom: 20px;
}

.about-info .subtitle {
  color: var(--blanco);
  font-family: var(--fuente-titulos);
  font-size: 1.25rem;
  font-weight: bold;
}

.about p {
  color: var(--blanco);
}

.about .about-img img {
  max-width: 800px;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 15px -3px rgba(46, 204, 113, 0.35);
  -moz-box-shadow: 10px 10px 15px -3px rgba(46, 204, 113, 0.35);
  box-shadow: 10px 10px 15px -3px rgba(46, 204, 113, 0.35);
}

.achievements {
  padding: 20px;
  margin: 50px 20px;
  text-align: center;
  position: relative;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.achievements h3 {
  font-family: var(--fuente-titulos);
  color: var(--blanco);
  font-size: 3.125rem;
  z-index: 1;
}

.achievements>p {
  z-index: 1;
  color: var(--blanco);
  font-size: 1.375rem;
}

p.custom-gradient {
  background: linear-gradient(180deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: #ADADAD;
  font-family: var(--fuente-titulos);
  font-size: 280px;
  font-weight: bolder;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.testimonials {
  text-align: center;
  padding: 50px 20px;
}


/* END Seccion Nosotros */

/* Seccion Testimonios */
#testimonios{
  margin-bottom: 50px;
}
.sub-testimonios{
  color: var(--blanco);
  font-family: var(--fuente-titulos);
  text-align: center; 
  font-size: 3.125rem;
}
.swiper {
  margin: 20px auto;
  width: 920px;
  height: 330px;
}

.swiper-slide {
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 10px 40px;
  color: #fff;
}

.swiper-slide > blockquote p {
  font-size: 1.375rem;
  font-style: normal;
}

.swiper-slide > blockquote cite {
  font-family: var(--fuente-titulos);
  font-size: 1.125rem;
  font-style: normal;
}

.swiper-slide > div img{
  width: auto;
}

.swiper-slide { background: linear-gradient(90deg, #000000 0%, #0b3450 100%);
  border-radius: 14px; }

.swiper-pagination-bullet {
  background: var(--swiper-pagination-bullet-inactive-color, var(--verde-esmeralda)) !important;
}
/* END Seccion Testimonios */

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--fuente-textos);
  background: linear-gradient(180deg, #000000 40%, #061d2c 60%, #072614 100%);
  color: #333;
}

header {
  background-color: transparent;
  color: white;
  padding: 10px 0;
  text-align: center;
}

blockquote {
  margin: 20px 0;
  font-style: italic;
}

blockquote cite {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer > p {
  padding: 10px 0px;
}

li{
  list-style: none;
}

.cont-footer{
  display: flex;
  justify-content: space-between;
  padding: 40px 80px;
  text-align: left;
}
.cont-footer p{
  font-size: 1.5rem;
  font-weight: bold;
}


@media (max-width: 1367px) {
  .product-img img {
    max-width: 800px;
  }

  .product h2 {
    font-size: 4.8rem;
  }

  .about .about-img img {
    max-width: 600px;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 15px -3px rgba(46, 204, 113, 0.35);
    -moz-box-shadow: 10px 10px 15px -3px rgba(46, 204, 113, 0.35);
    box-shadow: 10px 10px 15px -3px rgba(46, 204, 113, 0.35);
  }
}

@media (max-width: 1024px) {
  .achievements {
    height: 20vh;
}
  p.custom-gradient {
    font-size: 200px;
}
  .cta {
    font-size: 1.2rem;
    padding: 12px 24px;
  }

  .achievements {
    margin: 50px 50px;
  }

  .product-img img {
    max-width: 400px;
  }

  .product h2 {
    font-size: 3.25rem;
  }

  .product h2>span {
    font-size: 2.3rem;
  }

  .product h2>.line-verde {
    font-size: 2.3rem;
  }

  .product p {
    width: 100%;
    color: var(--blanco);
  }
  canvas{
    width: 640px;
    height: 360px;
  }
}

@media (max-width: 768px) {
  .cont-footer p {
    font-size: 1.2rem;
}
  .cont-footer {
    padding: 40px 20px;
}
  .swiper {
    width: 720px;
    height: 230px;
  }
  .swiper-slide > div img{
    width: 250px;
  }
  .swiper-slide > blockquote p {
    font-size: 1.125rem;
}
.swiper-slide > blockquote cite {
  font-family: var(--fuente-titulos);
  font-size: 1rem;
}

  .about-info hr {
    margin: auto;
    margin-bottom: 20px;
}
  .about-info h2 {
    margin-top: 20px;
    font-size: 2.125rem;
}
  .achievements>p {
    font-size: 1rem;
}
  p.custom-gradient {
    font-size: 150px;
}
.achievements h3 {
  font-size: 2.125rem;
}

  .product {
    flex-direction: row;
    text-align: left;
  }

  .about {
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
}

  .about-info {
    width: 80%;
  }

  .product img,
  .about img {
    max-width: 400px;
  }

  .product h2 {
    font-size: 2.25rem;
  }

  .product h2>span {
    font-size: 1.5rem;
  }
}

@media (max-width: 430px) {
  .cont-footer {
    padding: 40px 40px;
    flex-direction: column;
    text-align: center;
}

.cont-footer>div{
  margin-top: 20px
}
  .sub-testimonios {
    font-size: 1.5rem;
}
  .swiper-slide {
    flex-direction: column;
    padding: 20px 40px;
}

.swiper {
  max-width: 80%;
  height: 500px;
}
  canvas {
    width: 320px;
    height: 180px;
}
  .achievements h3 {
    font-size: 1.3rem;
}
  .achievements {
    margin: 0;
}
  p.custom-gradient {
    font-size: 90px;
    top: 20%;
  }

  .about-info h2 {
    margin-top: 20px;
    font-size: 2.125rem;
  }

  .about-info {
    width: 100%;
  }

  .product .product-img {
    width: 100%;
  }

  .product .product-info {
    width: 100%;
  }

  .about .about-img img {
    max-width: 300px;
  }

  .section-content h1 {
    font-size: 1.5rem;
  }

  .section-content h1>span {
    font-size: 3rem;
  }

  .section-content hr {
    width: 50%;
  }

  nav .logo img {
    width: 250px;
  }

  .section-content p {
    color: var(--blanco);
    margin-bottom: 60px;
    font-size: 1rem;
  }

  .nav-links {
    position: fixed;
    top: 65px;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--azul-oceano);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    z-index: 3;
  }

  .nav-links.active {
    transform: translateX(0);
  }

  .hamburger {
    display: flex;
  }

  .product {
    flex-direction: column;
    text-align: left;
  }

  .product-info {
    margin-top: 20px;
  }

  .cta {
    width: 270px;
    font-size: 1rem;
    padding: 12px 5px;
  }
}
@media (max-width: 375px) {
  #testimonios {
    margin-top: 50px;
}
  .swiper {
    height: 550px;
  }
  p.custom-gradient {
    font-size: 80px;
    top: 0%;
}
.sub-testimonios {
  font-size: 1.3rem;
}
}

@media (max-width: 320px) {
  canvas {
    width: 290px;
    height: 170px;
}

  .swiper-slide {
    padding: 20px 20px;
}
  p.custom-gradient {
    font-size: 70px;
}
  nav .logo img {
    width: 220px;
  }
}